<script>
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + '{{context.room_name}}'
        + '/'
    );
    console.log(chatSocket);

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    chatSocket.send(JSON.stringify({
        'message': "Hello from client",
        'sender': "{{request.user}}"
    }));
</script>